/* Dashboard 
 *  - Layout Css
 * 
 */

 .dashboardContainer {
    width: calc( 100vw - var(--drawer-width));
    position: relative;
    overflow-y: scroll;
    /* padding: 1em 8em; */
    border: 0;
    border-left: 1px solid #eee;
    background: whitesmoke;

    
 }

 .mainContainer {
   max-width: var(--mainDashbaordContainerWidth);
   padding-top: 5em;
   padding-bottom: 2em;
   /* padding-left: 1em;
   padding-right: 1em; */
   margin: auto;
 }

/* Top Dashboard Nav */
 .topNav {
   min-height: 70px;
   height: 70px;
 }



/* --md-breakpoint */

 @media screen and  (max-width: 1000px) {
         .dashboardContainer {
    width: calc( 100vw - var(--drawer-min-width));
       }

      .mainContainer {
         padding: 4em 1em ;
      }
 }