/* styles for
 company card */

 .cardImage {
    margin-top: 2em;
    width: 80px;
    height: 80px;
    background: transparent;
}


.cardImage img {
    width: 100%;
    height: 100%;
}

.actions {
    position: relative;
    top: -12px;
    padding: 0 .5em;
    justify-content: space-between;
}